<!doctype html>
<html ng-app="hipspec">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="lib/underscore-min.js" type="text/javascript"></script>
    <script src="lib/angular.min.js" type="text/javascript"></script>

    <script src="js/app.js" type="text/javascript"></script>

    <link href='index.css' rel='stylesheet' type='text/css'>
    <title>
      HipSpec results
    </title>
  </head>
  <body>
    <div class="container">
      <h1>HipSpec results</h1>

      <div ng-controller="TestsuiteCtrl">

        <ul>
          <li ng-repeat="ts in testsuites">
            <a ng-click="setTestsuite(ts)">{{ ts.name }}</a>
          </li>
        </ul>

        <div ng-controller="CompareCtrl">
          <h2>{{ testsuite.name }}</h2>
          <ul>
            <li ng-repeat="file in testsuite.files">
              <!-- <a ng-click="viewFile(testsuite,file)">{{ file }}</a> -->
              <a ng-href="{{ testsuite.short }}/{{ file }}">{{ file }}</a>
            </li>
          </ul>
          <div>
            <a ng-click="content = ''" ng-show="content">close file</a>
            <pre>{{ content }}</pre>
            <a ng-click="content = ''" ng-show="content">close file</a>
          </div>
          <table ng-hide='empty(headers)'>
            <tr>
              <th>Settings</th>
              <!-- <th>Time (s)</th> -->
              <th ng-repeat="(prop, unused) in headers">
                <span class="prop-header">{{ prop | display_prop }}</span>
              </th>
            </tr>
            <tr class="result-row">
              <td>Total: {{ num_solved }}/{{ num_problems() }}</td>
              <!-- <td></td> -->
              <td
                ng-repeat="(prop, unused) in headers"
                ng-class='{ "prop-solved": solved[prop], "prop-failed": !solved[prop] }'
                class="prop-cell">
                <span ng-show="solved[prop]">&#10003;</span>
                <span ng-hide="solved[prop]">&#215;</span>
              </td>
          </table>

          <div ng-repeat="(instance, unused) in table" ng-controller="ExplorationCtrl">
            <div ng-show="is_explored(instance)">
              <h3>{{ instance | ppresfile }}, {{ exploration_time | seconds }} s</h3>
              <ol>
                <li ng-repeat="eq in equations"><pre class="inline">{{ eq }}</pre></li>
              <ol>
            </div>
          </div>

          <table ng-hide='empty(table)'>
            <tr>
              <th>Instance</th>
              <th>Time (s)</th>
              <th>Attempts</th>
            </tr>
            <tr ng-repeat="(instance, result) in table" ng-controller="InstanceCtrl">

              <td class="top">
                <a ng-click="toggle_shown(instance)">{{ instance | ppresfile }}</a>
              </td>

              <td class="top">
                <span>{{ $parent.result.time | seconds }} s</span>
              </td>

              <td>
                <span ng-repeat="(prop, unused) in headers">
                  <span ng-show="$parent.$parent.result[prop].solved || $parent.$parent.result[prop].failed"
                        ng-class='{ "prop-solved": $parent.$parent.result[prop].solved, "prop-failed": $parent.$parent.result[prop].failed }'>
                    {{ prop }}:
                    <span ng-show="$parent.$parent.result[prop].solved">&#10003;</span>
                    <span ng-show="$parent.$parent.result[prop].failed">&#215;</span>
                  </span>
                </span>

                <table ng-show="show">
                  <tr>
                    <th>Time (s)</th>
                    <th>Message</th>
                  </tr>
                  <tr ng-repeat="msg in result" ng-show="interestingType(msg.type)">
                    <td>{{ msg.time | seconds }} s</td>
                    <td>
                      <div ng-class="msg.type">
                        <div ng-switch="msg.type">
                          <div ng-switch-when="FileProcessed">
                            File Processed
                          </div>
                          <div ng-switch-when="ExploredTheory">
                            Theory Explored
                          </div>
                          <div ng-switch-when="QuickSpecDone">
                            QuickSpec done, {{ msg.classes }} classes, {{ msg.eqs }} equations.
                          </div>
                          <div ng-switch-when="InductiveProof">
                            <pre class="inline">{{ msg.prop_name }}</pre> proved by induction on
                                <pre class="inline">{{ msg.vars.join(", ") }}</pre></span>
                            <span ng-hide="empty(msg.used_lemmas)">
                               using <pre class="inline">{{ msg.used_lemmas.join(", ") }}</pre>
                            </span>
                          </div>
                          <div ng-switch-when="PlainProof">
                            <pre class="inline">{{ msg.prop_name }}</pre> proved without induction
                            <span ng-hide="empty(msg.used_lemmas)">
                               using <pre class="inline">{{ msg.used_lemmas.join(", ") }}</pre>
                            </span>
                          </div>
                          <div ng-switch-when="FailedProof">
                            <pre class="inline">{{ msg.prop_name }}</pre> failed to be proved
                          </div>
                          <div ng-switch-when="Finished">
                            Finished
                            <!--
                            <div>
                              <b>Proved:</b> <pre class="inline" ng-repeat="prop in msg.proved">{{ prop }}, </pre>
                            </div>
                            <div>
                              <b>Unproved:</b> <pre class="inline" ng-repeat="prop in msg.unproved">{{ prop }}, </pre>
                            </div>
                            <div>
                              <b>Proved from QuickSpec:</b> <pre class="inline" ng-repeat="prop in msg.qs_proved">{{ prop }}, </pre>
                            </div>
                             <div>
                              <b>Unproved from QuickSpec:</b> <pre class="inline" ng-repeat="prop in msg.qs_unproved">{{ prop }}, </pre>
                            </div>
                            -->
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>

              </td>

            </tr>
          </table>

        </div>
      </div>
    </div>
  </body>
</html>
