PartCountSort
PartDoubleLength
PartDoublePlus
PartDropElem
PartDrop
PartDrop_WithPlus
PartElemAppend
PartElemInsert
PartElemSort
PartEven
PartEvenLengthAppend
PartEvenLengthAppendPlus
PartExp
PartFac
PartFlatRevQRev
PartHalfLength
PartHalfPlus
PartIntersectElem
PartIntersectSubset
PartLength
PartLengthPlus
PartLengthQRevPlus
PartMult
PartPlusPartQRev
PartQRev_WithAppend
PartRev
PartRevLengthAppend
PartRevLength
PartRevLength_WithAppend
PartRevQRev
PartRotate
PartSorted
PartSortLength
PartUnionElem
PartUnionSubset
TryWithoutTheoryExploration
json_list
results/*
