pre.inline {
  display: inline-block;
  margin: 0px; }

.prop-cell {
  text-align: center; }

.prop-solved {
  background: #88ee88; }

.prop-failed {
  background: #ee8888; }

table, td, tr, th {
  border: 1px solid black; }

tr.result-row > td {
  font-size: 1.2em;
  padding-top: 7px;
  padding-bottom: 7px; }

td, th {
  margin: 2px; }

table {
  margin-bottom: 20px; }

body {
  font-family: sans-serif; }

.FileProcessed {
  background: #bbeeee; }

.QuickSpecDone {
  background: #eebbee; }

.InductiveProof {
  background: #88ee88; }

.PlainProof {
  background: #eeee88; }

.Finished {
  background: #eeeebb; }
